<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EMS_COMMON_LOG_QUEUE" value="WBSN.SD.DEV.CMNLOG.Log.Set.1"/>
    <add key="EMS_SERVER" value="TCP://TIBCOEMS.dev.badgroup.com:7222"/>
    <add key="EMS_USERNAME" value="admin"/>
    <add key="EMS_PASSWORD" value=""/>
    <add key="EMS_DEBUG_ON" value="true" />
    <add key="EMS_AUDIT_ON" value="true" />
    <add key="LOG_TIMER_ON" value="true"/>
    <add key="LOG_APP_NAME" value="GoToMeetingDownloader" />
    <!--<add key="Access_Token" value="***" />
    <add key="organizer_key" value="****" />-->   
    
    <add key="Access_Token" value="***" />
    <add key="organizer_key" value="****" />
    <add key="GetGroups" value="https://api.citrixonline.com/G2M/rest/groups" />
    <add key="GetOrganizers" value="https://api.citrixonline.com/G2M/rest/groups/{0}/organizers" />
    <add key="GetMeetingsByGroup" value="https://api.citrixonline.com/G2M/rest/groups/{0}/meetings?history=true&amp;startDate={1}&amp;endDate={2}" />
    <add key="GetMeetingsByOrganizer" value="https://api.citrixonline.com/G2M/rest/organizers/{0}/meetings?history=true&amp;startDate={1}&amp;endDate={2}" />
    <add key="GetAttendeesByGroup" value="https://api.citrixonline.com/G2M/rest/groups/{0}/attendees?startDate={1}&amp;endDate={2}" />
    <add key="GetAttendeesByOrganizer" value="https://api.citrixonline.com/G2M/rest/organizers/{0}/attendees?startDate={1}&amp;endDate={2}" />
    <add key="GetMeeting" value="https://api.citrixonline.com/G2M/rest/meetings/{0}" />
    <add key="GetMeetings" value="https://api.citrixonline.com/G2M/rest/meetings?history=true&amp;startDate={0}&amp;endDate={1}" />
    <add key="GetOrganizer" value="https://api.citrixonline.com/G2M/rest/organizers/{0}" />
    <add key="GetOrganizerByEmail" value="https://api.citrixonline.com/G2M/rest/organizers?email={0}" />
    <add key="UpdateOrganizer" value="https://api.citrixonline.com/G2M/rest/organizers/{0}"/>

    <add key="GetHistoricalWebinars" value="https://api.citrixonline.com/G2W/rest/organizers/{0}/historicalWebinars?fromTime={1}&amp;toTime={2}"/>
    <add key="GetUpcomingWebinars" value="https://api.citrixonline.com/G2W/rest/organizers/{0}/upcomingWebinars"/>
    <add key="G2W_Access_Token" value="****"/>
    
    <add key="RetryRequest" value="true" />
    <add key="DaySpan" value="2" />
    <add key="LatestDays" value="2" />
    <add key="BeginUTCHour" value="8"/>
  </appSettings>
  <connectionStrings>    
    <add name="GoToMeeting_DB" connectionString="server=***;database=GoToMeetingDB;uid=***;pwd=***;Application Name=GoToMeetingDownloader"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
